---
export interface Props {
  title: string;
  description: string;
}

const image = "/og_image.png";
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta name="twitter:title" content={title} />
    <meta name="og:url" content={Astro.url} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="AngelHacks Toronto" />
    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta name="twitter:description" content={description} />
    <meta property="og:image" content={image} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={image} />
    <meta
      name="google-site-verification"
      content="ABh0ok1vTFtF1cqRjYKl4WjTsSA0komhlryP3o0fiwM"
    />
    <script defer data-domain="angelhacksto.hackclub.com, toronto.angelhacks.org" src="https://plausible.io/js/script.js"></script>
   <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Event",
      "name": "Angelhacks Toronto -- A Game-Jam",
      "startDate": "2023-05-27T09:00-05:00",
      "endDate": "2023-05-27T21:00-05:00",
      "eventStatus": "https://schema.org/EventScheduled",
     "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
     "location": {
 	 "@type": "Place",
  	"name": "Wework Toronto",
  	"address": {
    	"@type": "PostalAddress",
    	"streetAddress": "1 University Ave",
    	"addressLocality": "Toronto",
    	"postalCode": "M5J 2P1",
    	"addressRegion": "ON",
    	"addressCountry": "CA"
  	},
       
      "image": [
        "https://cloud-g4ahjg6ib-hack-club-bot.vercel.app/0image.png",
        "https://cloud-dp9njdl8a-hack-club-bot.vercel.app/0image.png",
        "https://cloud-4pwb0qyjy-hack-club-bot.vercel.app/0image.png"
       ],
      "description": "AngelHacks Toronto is a game jam /hackathon like event for middle and high schoolers in the GTA.  A place for all programmers, artists, storytellers, and musicians to come together and create a game with their peers in 12 hours, regardless of skill level. They'll also be food, workshops, prizes, and mentors throughout!",
       "offers": {
         "@type": "Offer",
         "url": "https://toronto.angelhacks.org/?ref=events",
         "price": "0"
       },
      "organizer": {
        "@type": "Organization",
        "name": "Hack Club",
        "url": "https://hackclub.com"
      }
     }
    }
  
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import "../styles/global.css";
</style>
