---
export interface Props {
  title: string;
  description: string;
}

const image = "/og_image.png";
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta name="twitter:title" content={title} />
    <meta name="og:url" content={Astro.url} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="AngelHacks Toronto" />
    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta name="twitter:description" content={description} />
    <meta property="og:image" content={image} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={image} />
    <meta
      name="google-site-verification"
      content="ABh0ok1vTFtF1cqRjYKl4WjTsSA0komhlryP3o0fiwM"
    />
    <script defer data-domain="angelhacksto.hackclub.com, toronto.angelhacks.org" src="https://plausible.io/js/script.js"></script>
    <script defer data-domain="toronto.angelhacks.org" src="https://plausible.io/js/script.js"></script>

  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import "../styles/global.css";
</style>
